@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  align-items: center;
  background-color: #f6f6f6;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0 1em;
  width: 100vw;
}

hr {
  border: none;
  border-top: 1px solid #cecece;
  margin: 0;
}

input[type="text"] {
  margin: 0;
  transition: box-shadow 0.2s ease-out;
}

input[type="text"]:focus {
  box-shadow: 0 -5px 0 #7c83ec inset;
  outline: none;
}

input[type="checkbox"] {
  width: 1.3em;
}

.icon {
  font-size: 1.3em;
  color: #afafaf;
}

.icon-btn {
  background-color: transparent;
  border: none;
  padding: 6px;
}

.item {
  align-items: stretch;
  display: flex;
  height: 3.4em;
  padding: 0 1em;
}

.list-box {
  background-color: #fff;
  box-shadow: 0 2px 8px #00000026;
  max-width: 30em;
  width: 100%;
}

.heading-box {
  align-items: center;
  font-weight: 600;
}

.add-box {
  justify-content: space-between;
}

#text-input {
  border: none;
  flex: 1;
  font-size: 1em;
  font-style: italic;
  padding: 0;
}

#add-btn {
  cursor: pointer;
}

.item .delete:hover .icon {
  color: #eb6060;
}

#add-btn .icon:hover {
  color: #7c83ec;
}

#list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item .description {
  border: none;
  flex: 1;
  font-size: 1em;
  padding-left: 1em;
}

.item .task-check:checked + .description {
  color: #afafaf;
  text-decoration: line-through;
  font-style: italic;
}

.item .delete {
  display: none;
  cursor: pointer;
}

.item:focus-within .delete {
  display: block;
}

.item .move {
  cursor: move;
}

.item:focus-within .move {
  display: none;
}

.spacer {
  flex: 1;
}

.clear-box {
  padding: 0;
}

#clear-btn {
  background-color: #f6f6f6;
  border: none;
  cursor: pointer;
  font-size: 1em;
  height: 100%;
  padding: 0;
  width: 100%;
}

#clear-btn:hover {
  background-color: #eb6060;
  color: #fff;
}
